<app-navbar></app-navbar>

<div class="row container mx-auto mt-5">
 
 
  <div class="card col">
    <div class="card-header">
      <h5>NEW SUBMISSION</h5>
    </div>
    <div class="card-body">
      <button routerLink="/submit" class="btn btn-secondary"> NEW SUBMISSION</button>
    </div>
  </div>
  <div class="card col ml-3">
      <div class="card-header">
        <h5>VIEW SUBMISSION</h5>
      </div>
      <div class="card-body">
        <button class="btn btn-secondary" routerLink="/view">VIEW SUBMISSION</button>
      </div>
    </div>
</div>
  <div class="row container mx-auto mt-5">
 
  <div class="card col">
    <div class="card-header">
      <h5>CONFIG NOTIFICATIONS</h5>
    </div>
    <div class="card-body">
      <button class="btn btn-secondary" routerLink="/co-notifi">NOTIFICATIONS</button>
    </div>
  </div>
  <div class="card col ml-3">
    <div class="card-header">
      <h5>VIEW NOTIFICATIONS</h5>
    </div>
    <div class="card-body">
      <button class="btn btn-secondary" routerLink="/notification">VIEW NOTIFICATIONS</button>
    </div>
  </div>
  

</div>
